body{
    background-image: url(profile_background.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:0;
    margin:0;
    height:100vh;
    font-family: arial;
}

.profile-card{
    width:300px;
    height:300px;
    background: white;
    text-align: center;
    margin:30px auto;
    padding:30px;
    box-shadow: 2px 3px 4px gray;
    border-radius:9px;


}
.profile-image{
    border-radius:50%;
    object-fit:cover;
    width: 100px;
    height: 100px;
    margin-bottom:15px;

}

.following{
    display:inline-block;
    background-color: blue;
    color:white;
    text-align: center;
    border-radius:3px;
    width:100px;
    padding:10px 20px;
    text-decoration:none;
    margin-top: 15px;
    transition:0.4s ease;

}

.following:hover{
    background-color:darkblue;
}

.skills{
    color:gray;
    font-size:1rem;
    
}