body{
    background-image: url(profile_background.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:0;
    margin:0;
    height:100vh;
    font-family: arial;
}

.profile-card{
    width:300px;
    max-width:90%;
    background: white;
    text-align: center;
    padding:30px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
        border-radius:9px;


}
.profile-image{
    border-radius:50%;
    object-fit:cover;
    width: 100px;
    height: 100px;
    margin-bottom:15px;

}

.follow-btn{
    text-decoration:none;
    margin-top: 15px;
    display:inline-block;
    background-color: blue;
    color:white;
    text-align: center;
    border-radius:3px;
    width:100px;
    padding:10px 20px;
    transition:background-color 0.4s ease;
    font-weight:600;

}

.follow-btn:hover{
    background-color:darkblue;
    transform:translateY(-2px);
    box-shadow:0 4px 12px rgba(0, 119, 255,0.3);
}

.skills{
    color:gray;
    font-size:1rem;
    margin:5px 0 15px 0;
    
}
.institutions{
    color:#888;
    font-size:0.9rem;
    margin:5px 0;
}